<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busy</title>
    <meta name="Keywords" content="Busy个人博客">
    <meta name="Discription" content="一步一步学">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="..\..\static\css\index.css">
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
</head>
<body>
<figure><p><a class="emails" target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=HHh9cn95b3F1cHVye1xtbTJ-c3E" title="email"></a>
<a class="rssdy" target="_blank" href="/e/web/?type=rss2"  title="rss订阅"></a><a class="fav" target="_blank" onClick="window.external.addFavorite('http://www.yangqq.com')" title="加入收藏"></a></p></figure>
<header>
  <h1><a href="/">busy</a></h1>
  <p>如果没有为陌上悄然伫立并为陌上风情所陶醉的人，那么花开也寂寞,风情也苍白...</p>
</header>
<!--nav begin-->
<div id="nav">
<ul>
        <li><a href="/" >网站首页</a></li>
        <li><a href="/news/" target="_blank" title="慢生活">慢生活</a></li>
        <li><a href="/jstt/" target="_blank" title="技术探讨">技术探讨</a></li>
        <li><a href="/download/" target="_blank" title="资料下载">资料下载</a></li>
        <li><a href="/newstalk/" target="_blank" title="碎言碎语">碎言碎语</a></li>
        <li><a href="/newshtml5/" target="_blank" title="python界">Python业界</a></li>
        <li><a href="/news/case/" target="_blank" title="作品展示">作品展示</a></li>
        <li><a href="/news/jsex/" target="_blank" title="PY 实例代码演示">PY实例</a></li>
       <li><a href="/e/tool/gbook/?bid=1" target="_blank" title="留言版">留言版</a></li>
     </ul>
</div>
<!--nav end-->
<div class="lace_hd_ft"></div>
<article>
<div class="blog">
      <h3><p>最新文章<span>New Blog</span></p></h3>
  <div class="bloglist">
   <h2><a href="/">{{ bt1 }}</a></h2>
     <p class="datetime">{{ sj1 }}</p>
     <ul class="topimg">
      <img src="..\..\static\images\2011713195450617.jpg">
     </ul>
     <ul class="content">
     <p>{{ tm1 }}</p>
     </ul>
   <p class="read"><a href="yuedu">阅读>></a></p>
   </div>
 <div class="bloglist">
   <h2><a href="/">{{ bt0 }}</a></h2>
     <p class="datetime">{{ sj0 }}</p>
     <ul class="topimg">
      <img src="..\..\static\images\2011713195450617.jpg">
     </ul>
     <ul class="content">
     <p>{{ tm0 }}</p>
     </ul>
   <p class="read"><a href="/">阅读>></a></p>
   </div>
   <div class="bloglist">
   <h2><a href="/">{{ bt }}</a></h2>
     <p class="datetime">{{ sj }}</p>
     <ul class="topimg">
      <img src="..\..\static\images\2011713195450617.jpg">
     </ul>
     <ul class="content">
     <p>{{ tm }}</p>
    <!--<p>女孩子都有着浪漫的小情怀，对于求婚更是抱着满满的浪漫期待，也希望在求婚那一天对方可以给自己一个最浪漫的求婚词。</p>-->
    <!--<p>you are the apple of my eyes.</p>-->
    <!--<p>你是我这辈子最珍贵的人。请让我永远守护在你身边，我一定将你当成掌心的珍宝，一辈子悉心呵护。你，愿意嫁给我吗？</p>-->
     </ul>
   <p class="read"><a href="/">阅读>></a></p>
   </div>

</div>

<aside>
    <img src="..\..\static\images\about2.jpg" class="about">
<div class="vcard">
      <p class="fn">姓名：jt</p>
      <p class="nickname">网名：busy | 繁华落尽</p>
      <p class="url">主页：jiangtao4.pythonanywhere.com</p>
      <p class="address">现居：成都-青羊区</p>
      <p class="role">职业：Linux运维工程师</p>
</div>
<h2>博客分类</h2>
<ul>
  <li><a href="/">慢生活(3)</a></li>
  <li><a href="/">程序人生(25)</a></li>
  <li><a href="/">经典美文(39)</a></li>
</ul>
<h2>近期文章</h2>
<ul>
  <li><a href="/">女孩都有浪漫的小情怀</a></li>
  <li><a href="/">也许下个路口就会遇见希望</a></li>
  <li><a href="/">6月毕业季，祝福送给你</a></li>
  <li><a href="/">生活常有缺席的-可搞笑从来不缺席</a></li>
  <li><a href="/">为了一个不存在的梦，执念了那么多年</a></li>
</ul>
<h2>文章归档</h2>
<ul>
  <li><a href="/">2008 年三月</a></li>
  <li><a href="/">2008 年四月</a></li>
  <li><a href="/">2008 年六月</a></li>
</ul>
<h2>友情链接</h2>
<ul>
  <li><a href="http://www.yangqq.com">busy个人博客</a></li>
</ul>
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare share">
<a class="bds_tsina"></a>
<a class="bds_qzone"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<span class="bds_more"></span>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->
</aside>
</article>
<div class="blank"></div>
<div id="copright">Design by DanceSmile</div>
<script src="js/silder.js"></script>
</body>
</html>
