{% extends 'blog/base.html' %}
<!--{% load staticfiles %}-->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
 <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>jt</title>-->
<!--</head>-->
<!--<body>-->
    <!--&lt;!&ndash;<div class="page-header">&ndash;&gt;-->
        <!--&lt;!&ndash;<h1><a href="">JT BLOG</a></h1>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
     <!--<div>-->
         <!--<p>published: 14.06.2014, 12:14</p>-->
         <!--<h2><a href="">My first post</a></h2>-->
         <!--<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
     <!--</div>-->

    <!--{% for post in posts %}-->
        <!--<div class="post">-->
            <!--<p>published: {{ post.published_date }}</p>-->
            <!--<h1><a href="">{{ post.title }}</a></h1>-->
            <!--<p>{{ post.text|linebreaksbr }}</p>-->
        <!--</div>-->
    <!--{% endfor %}-->
     <!--<div class="content container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8">-->
                <!--{% for post in posts %}-->
                    <!--<div class="post">-->
                        <!--<div class="date">-->
                            <!--{{ post.published_date }}-->
                        <!--</div>-->
                        <!--<h1><a href="">{{ post.title }}</a></h1>-->
                        <!--<p>{{ post.text|linebreaksbr }}</p>-->
                    <!--</div>-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</body>-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
{% block content %}
    {% for post in user_list %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}